@font-face {
    src: url("/font/SourceHanSansSC-Normal.otf");
}

/*1. 全局配置*/
.root {
    -fx-font-size: 14;
    -fx-font-family: "Source Han Sans SC Normal";
    /*-fx-background: ;*/
    -fx-text-alignment: center;
}

/*2. 菜单栏*/
.menu-bar {
}

.menu,
.menu-item {
}

/*3. 跟打显示栏*/
TextFlow {
    -fx-background-color: #e9fadd;
    -fx-font-size: 22;
}

TextFlow > Text {
    /*text 没有背景色属性*/
    /*-fx-text-fill: ;*/
}

/*4. 跟打输入栏*/
.text-area {
    -fx-font-size: 22;
}

/*5. 成绩显示栏*/
.table-column {
    -fx-alignment: center;
}